<div class="bpm-controls flex items-center justify-center gap-4">
    <div class="radio-input">
        <label class="label">
            <input value="value-1" name="value-radio" id="value-1" type="radio" data-action="click->sequencer#play"/>
            <span class="text">Play</span>
        </label>

        <label class="label" data-action="click->sequencer#pause">
            <input value="value-1" name="value-radio" id="value-1" type="radio" />
            <span class="text">Stop</span>
        </label>


        <button class="control-button label" data-action="click->sequencer#decreaseBpm">
            <span class="text text-3xl">-</span>
        </button>

        <label for="bpm" id="bpm-label" class="label">
            <span class="text" id="bpm-text" data-sequencer-target="bpmLabelCurrent"><%= @drumrack.bpm %> BPM</span>
        </label>

        <button class="control-button label" data-action="click->sequencer#increaseBpm">
            <span class="text text-2xl">+</span>
        </button>

        <button class="control-button label" data-action="click->sequencer#save">
            <span class="text">Save</span>
        </button>
    </div>
</div>
