

<div class="bpm-controls flex flex-col items-center justify-center w-full">
    <div class="name-input">
        <input type="text" id="name" name="name" required minlength="4" class="label text text-2xl text-center" data-sequencer-target="name" value="<%= @drumrack.name %>"/>
    </div>

    <div class="radio-input">
        <label class="label radioPS">
            <input value="value-1" name="value-radio" id="value-1" type="radio" data-action="click->sequencer#play"/>
            <span class="text">Play</span>
        </label>

        <label class="label radioPS" data-action="click->sequencer#pause">
            <input value="value-1" name="value-radio" id="value-1" type="radio" checked />
            <span class="text">Stop</span>
        </label>

        <% if action_name != 'show' %>
            <button class="label control-button" data-action="click->sequencer#decreaseBpm">
                <span class="text text-3xl">-</span>
            </button>
        <% end %>

        <label for="bpm" id="bpm-label" class="label min-w-[150px]">
            <span class="text" id="bpm-text" data-sequencer-target="bpmLabelCurrent"><%= @drumrack.bpm %> BPM</span>
        </label>

        <% if action_name != 'show' %>
            <button class="label control-button" data-action="click->sequencer#increaseBpm">
                <span class="text text-2xl">+</span>
            </button>
        <% end %>

        <% if action_name != 'show' %>
            <button class="label control-button" data-action="click->sequencer#resetAll">
                <span class="text">Clear</span>
            </button>
            <button class="label control-button" data-action="click->sequencer#save">
                <span class="text">Save</span>
            </button>
            <button class="label control-button" data-action="click->sequencer#lauchAi">
                <span class="text">Help</span>
            </button>
        <% else %>
            <%= link_to duplicate_drumrack_path(@drumrack), class: 'label control-button' do %>
                <span class="text">Modify</span>
            <% end %>
        <% end %>

        <%= link_to root_path, class: 'label control-button' do %>
            <span class="text">Home</span>
        <% end %>
    </div>
</div>
