<div class="sequencer">
    <% @drumrack.pads.each_with_index do |pad, i| %>
        <button id="pad-<%= i %>"
            data-sequencer-target="pad"
            data-active="false"
            data-played="false"
            data-category=""
            data-index="<%= i %>"
            <% if current_page?(soundbox_drumrack_path(@drumrack) )%>
              data-action="click->sequencer#addSampleToPad click->sequencer#selectIaPad"
            <% end %>
            data-first-temp="<%= i % 4 == 0 %>"
            data-samples=""
            class="pad drumrack bg-pad-gradient border-4 border-black group 
            data-[active=true]:scale-110 data-[active=true]:opacity-100
            data-[played=true]:border-[3px] data-[played=true]:border-[#ffc600] data-[played=true]:shadow-[0_0_1rem_#ffc600]
            data-[category=oneshot]:bg-yellow-gradient
            data-[category=kick]:bg-red-gradient
            data-[category=snare]:bg-green-gradient
            data-[category=hihat]:bg-blue-gradient
            data-[category=bass]:bg-purple-gradient
            data-[first-temp=true]:bg-first-temp
            data-[aihighlighted=true]:border-[3px]
            data-[aihighlighted=true]:shadow-[0_0_1rem_#ffc600]
            data-[aihighlighted=true]:border-[#fc0330]"
        >
            <div id="speaker" class="data-[played=true]:animate-speakeasy">
                <div id="cone"></div>
            </div>
        </button>
    <% end %>
</div>
