<div class="sequencer">
    <% @drumrack.pads.each_with_index do |pad, i| %>
        <button id="pad-<%= i %>"
            data-sequencer-target="pad"
            data-active="false"
            data-played="false"
            data-category=""
            data-index="<%= i %>"
            <% if current_page?(soundbox_drumrack_path(@drumrack) )%>
                data-action="click->sequencer#addSampleToPad"
            <% end %>
            data-first-temp="<%= i % 4 == 0 %>"
            data-samples=""
            class="pad drumrack group data-[active=true]:scale-110 data-[active=true]:opacity-100
            data-[category=oneshot]:bg-yellow-500 data-[played=true]:border-[3px] data-[played=true]:border-[#ffc600] data-[played=true]:shadow-[0_0_1rem_#ffc600]
            data-[category=kick]:bg-red-500
            data-[category=snare]:bg-green-500
            data-[category=hihat]:bg-blue-700
            data-[category=bass]:bg-purple-500
            data-[first-temp=true]:bg-blue-300"
        >
            <i class="fa-solid fa-record-vinyl text-zinc-100 group-data-[active=true]:shake"></i>
        </button>
    <% end %>
</div>
