    <div class="mt-4 font-outfit text-white hidden border-2 border-yelloww bg-greyy p-4 rounded-lg shadow-lg w-[400px] absolute top-[80px] right-20 z-1000"
      data-sequencer-target="popup"
      onclick="">Click me!
      <span class="popuptext" id="myPopup">Popup text...</span>
    </div>
