    <div class="hidden bg-white p-4 rounded-lg shadow-lg w-56"
      data-sequencer-target="popup"
      onclick="">Click me!
      <span class="popuptext" id="myPopup">Popup text...</span>
    </div>
