 <div class="reset-button">
      <label class="label">
          <input value="value-1"
                 name="value-radio"
                 id="value-1"
                 type="radio"
                 data-action="click->sequencer#resetAll"/>
          <span class="text">Clear All</span>
      </label>
</div>
