<div class="flex justify-center gap-8 w-full">
    <div class="sample-picker flex justify-center w-full rounded-b-md">
        <% @drumrack.samples.each do |sample| %>
            <button class="pad-sample <%= category_color(sample.category) %> group opacity-70 data-[active=true]:opacity-100 data-[played=true]:border-[3px] data-[played=true]:border-[#ffc600] data-[played=true]:opacity-100"
                data-active="false"
                data-sequencer-target="category"
                data-played="false"
                <% if current_page?(soundbox_drumrack_path(@drumrack) )%>
                data-action="click->sequencer#selectSample"
                <% end %>
                data-category="<%= sample.category %>"
                data-sequencer-target="category"
            >
                <p class="text-sm italic text font-bold text-white opacity-90 group-data-[active=true]:opacity-100 group-data[active=true]:text-slate-900 group-data-[played=true]:opacity-100"><%= sample.category %></p>
            </button>
        <% end %>
    </div>
</div>
