<form class="sm:mb-16" action="/drumracks" method="get">
    <div class="flex">
        <input type="text sm:text-center" placeholder="Type a music genre ..." class="p-2 rounded-l-md border-2 border-darkblue font-gillSans shadow-md">
        <button type="submit" class="bg-darkblue text-lg text-orange px-4 py-2 rounded-r-md font-shrikhand stroke shadow-md h-full hover:bg-darkblue/70 transition-colors duration-300">
            Search
        </button>
    </div>
</form>