
<div class="bpm-controls flex items-center justify-center gap-4">
    <div class="radio-input">
        <label class="label">
            <input value="value-1" name="value-radio" id="value-1" type="radio" data-action="click->sequencer#playShow"/>
            <span class="text">Play</span>
        </label>

        <label class="label" data-action="click->sequencer#pauseShow">
            <input value="value-1" name="value-radio" id="value-1" type="radio" />
            <span class="text">Stop</span>
        </label>

        <label for="bpm" id="bpm-label" class="label">
            <span class="text" id="bpm-text" data-sequencer-target="bpmLabelCurrent"><%= @drumrack.bpm %> BPM</span>
        </label>

        <button class="control-button label">
            <%= link_to "Modify", duplicate_drumrack_path(@drumrack), method: :get, class:"text" %>
        </button>

    </div>
</div>
