<div class="bpm-controls ">
    <button
        data-toggle="false"
        data-sequencer-target="togglePlayBtnShow"
        class="group"
    >
        <i class="fa-solid fa-play text-orange text-2xl group-data-[toggle=true]:hidden"
            data-action="click->sequencer#playShow"
        ></i>
        <i class="fa-solid fa-pause text-blue-700 text-2xl group-data-[toggle=true]:block hidden"
            data-action="click->sequencer#pauseShow"
        ></i>
    </button>
</div>
