<div class="flex flex-col items-center h-screen px-4 py-2 gap-4 relative z-10" data-controller="sequencer">
  <div class="flex flex-col items-center pt-8">
  <h1 class="text-4xl font-outfit font-bold text-yelloww">DRUM'N LEARN</h1>
    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
      <dotlottie-player src="https://lottie.host/95f56188-c27f-4ed9-8cd9-8a46b13c4410/nTFx8mlXQK.lottie" background="transparent" speed="1" style="width: 80px; height: 80px" loop autoplay></dotlottie-player>
  </div>

  <div class="flex flex-col items-center h-screen px-4 py-8 gap-4">
    <h3 class="text-4x1 font-outfit text-white">What's your inspiration ?</h3>

    <form class="sm:mb-8 action="">
      <div class="flex">
        <input type="text sm:text-center" placeholder="Type a music genre ..." class="p-2 rounded-l-md border-1 border-primary font-gillSans shadow-md">
        <button type="submit" class="bg-yelloww font-semibold hover:bg-blackk hover:text-yelloww text-lg text-blackk px-4 py-2 rounded-r-md font-outfit shadow-md h-full transition-colors duration-300 border-2 border-yelloww">
        Search
        </button>
      </div>
    </form>

    <h3 class="text-yelloww font-outfit font-semibold">Latest drumracks from the community :</h3>
<div class="mb-16">
<%= render "shared/community", drumracks: @drumracks %>
</div>


  </div>
</div>


<%= render "drumracks/blur_neons" %>

<%= render "shared/menubar" %>
