<%= render "shared/header" %>

<div class="flex flex-col items-center h-screen px-4 py-2 gap-4 relative z-10" data-controller="sequencer">
  <div class="flex flex-col items-center h-screen px-4 py-8 gap-12">
    <div class="flex flex-col items-center gap-4">
      <h2 class="text-3xl font-outfit font-bold text-white">What's your today's inspiration ?</h2>
      <p class="text-xl font-outfit text-white">Find your favorite music genre and let the magic begin with one of our templates !</p>
    </div>

    <%= render "shared/cards" %>

    <h2 class="text-4xl font-outfit font-bold text-yellow-300">Or</h2>
    <div class="flex flex-col items-center gap-8">
      <div class="flex flex-col items-center">
        <p class="text-xl font-outfit text-white">Browse on drumracks made by our community !</p>
        <p class="text-lg font-outfit text-white">Sorted by most liked.</p>
      </div>
      <form class="flex gap-1">
        <input type="text sm:text-center" placeholder="Type a music genre ..." class="p-2 rounded-l-md border-1 font-gillSans shadow-md w-96">
        <button type="submit" class="bg-yelloww font-semibold hover:bg-blackk hover:text-yelloww text-lg text-blackk px-4 py-2 rounded-r-md font-outfit shadow-md h-full transition-colors duration-300 border-2 border-yelloww">
          Search
        </button>
      </form>
    </div>
    <%= render "shared/community", drumracks: @drumracks %>
  </div>
</div>


<%= render "drumracks/blur_neons" %>
