<div data-controller="landscape" data-is-landscape="false" class="group w-full h-full p-8 soundbox">
    <div class="group-data-[is-landscape=false]:block group-data-[is-landscape=true]:hidden
            flex flex-col justify-center items-center w-full h-full">
        <div class="flex flex-col items-center justify-center w-full h-full gap-4">
            <h1 class="text-white text-4xl text-center">Only avaible in landscape</h1>
            <i class="fa-solid fa-rotate text-white text-4xl text-center"></i>
            <p class="text-white text-center">Please rotate your device</p>
        </div>
    </div>

    <%= render 'sequencer' %>
</div>
