<div class="flex flex-col items-center p-4">
    <h4 class="text-center text-3xl font-outfit text-white p-4">START EXPLORING OUR TEMPLATES</h4>

    <p class="font-outfit text-white p-2">Music is deeply rooted in its genres, each offering a distinct emotional experience to its listeners. It has the power to unite people, fostering a sense of belonging so profound that some may feel an unwavering loyalty to their chosen "tribe." Pick a musical genre, learn, and play with it.</p>
    <p class="font-outfit text-xl font-semibold text-yelloww text-center p-8">BPM, sound design and rythmical patterns. This is what is all about</p>

    <%= render "shared/cards" %>
</div>

<%= render "shared/menubar" %>
