<div class="grid grid-cols-2 md:grid-cols-3 flex flex-wrap justify-center gap-4 gap-y-6 p-5 mx-auto">
  <% @drumracks.each do |drumrack| %>
    <%= render "shared/template_card", drumrack: drumrack %>
  <% end %>
</div>
