<footer class="w-full p-2 flex flex-col items-center shadow-top">
    <p class="text-white text-xs text-center">© 2024 Drum'n Learn</p>
    <p class="text-white text-xs text-center">Made with ❤️ by
        <a href="https://github.com/lea3738" class="text-orange">Lea,</a>
        <a href="https://github.com/Wael-Dev52" class="text-orange">Wael,</a>
        <a href="https://github.com/puts-HIROSIE" class="text-orange">Rémi</a>
        and
        <a href="https://github.com/remyShift" class="text-orange">Rémy</a>
    </p>
</footer>
