<div class="w-full px-2 flex justify-between items-center border-b-2 border-black">
    <%= link_to root_path do %>
        <img src="<%= asset_path 'bass.png' %>" alt="logo" class="mt-2">
    <% end %>
    <h2 class="title text-xl">Drum'n Learn</h2>
    <%= link_to "Access Drumpad", drumracks_play_path, class: "font-shrikhand text-white text-sm" %>
    <%= link_to "Login", new_user_session_path, class: "font-shrikhand text-white text-sm" %>
</div>


