<header class="w-full p-2 flex justify-between items-center shadow-md">
    <%= link_to root_path do %>
        <i class="fa-solid fa-drum text-lg text-white"></i>
    <% end %>
    <h2 class="title text-xl">Drum'n Learn</h2>
    <%= link_to "Login", new_user_session_path, class: "font-shrikhand text-white text-sm" %>
</header>
