<nav class="w-full bg-gradient-to-b from-slate-900 to-darkgrey px-2 pb-10 pt-4 flex justify-evenly items-center shadow-top fixed bottom-0 z-50 border-t-2 border-black"
    data-controller="menubar"
>

    <%= link_to templates_drumracks_path, class: "flex flex-col items-center", data: {
        menubar_target: "toToggle",
        action: "click->menubar#toggle",
        turbo: "false"
    } do %>
        <i class="fa-solid fa-music text-xl text-orange cursor-pointer"
        ></i>
        <div class="w-6 h-6 bg-white rounded-full absolute bottom-0 blur-lg hidden"
        ></div>
    <% end %>

    <%= link_to root_path, class: "flex flex-col items-center", data: {
        menubar_target: "toToggle",
        action: "click->menubar#toggle",
        turbo: "false"
    } do %>
        <i class="fa-solid fa-house text-xl text-orange"
        ></i>
        <div class="w-6 h-6 bg-white rounded-full absolute bottom-0 blur-lg hidden"
        ></div>
    <% end %>

    <%= link_to current_user.present? ? user_path(current_user) : new_user_session_path, class: "flex flex-col items-center", data: {
        menubar_target: "toToggle",
        action: "click->menubar#toggle",
        turbo: "false"
    } do %>
        <i class="fa-solid fa-user text-xl text-orange"
        ></i>
        <div class="w-6 h-6 bg-white rounded-full absolute bottom-0 blur-lg hidden"
        ></div>
    <% end %>
</nav>
