<div class="w-48 h-36 bg-gradient-to-br from-<%= color %> to-<%= color %> rounded-lg shadow-lg flex items-center justify-center transform hover:scale-105 transition-transform overflow-hidden">
    <div class="text-cente§r text-white ">
        <p class="text-2xl font-bold font-shrikhand pb-10"><%= genre %></p>
        <p class=" font-shrikhand text-2xl bg-black w-20 h-20 rounded-lg flex items-center justify-center absolute -bottom-2 right-6 transform translate-x-1/2 -rotate-45">
            Beat
        </p>
    </div>
</div>