<%= link_to soundbox_drumrack_path(drumrack), class: "w-48 h-32 #{color_card(drumrack)} rounded-lg shadow-lg flex justify-center items-center transform hover:scale-105 transition-transform overflow-hidden" do %>
    <p class="text-white text-xl font-bold font-outfit text-center mb-4 relative z-10"><%= drumrack.genre.capitalize %></p>
    <div class="bg-black shadow-md w-20 h-14 rounded-lg flex items-center justify-center transform rotate-12 absolute -bottom-0 -right-1 z-0">
        <i class="fa-solid fa-compact-disc text-xl text-white "></i>
    </div>
<% end %>
