@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind utilities;

.title {
  font-family: "roboto", cursive;
  color: #ffa400;
}

h2 {
  font-family: "roboto", cursive;
  color: #2a2a72;
}

h3 {
  font-family: "roboto", cursive;
}

h4 {
  font-family: "roboto", cursive;
  color: #ffa400;
}

.stroke {
  -webkit-text-stroke: 1px #232528;
}

.bpm-controls {
  margin-bottom: 20px;
}

.bpm-controls label {
  color: red;
}

.sequencer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 25px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 30px;
}

.pad {
  position: relative;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 12px;
  font-size: 40px;
  font-weight: 300;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  transition: all 0.07s ease;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.7);
}

.fa-record-vinyl {
  opacity: 0.5;
}

.pad.playing .fa-record-vinyl {
  opacity: 1;
}

/* From Uiverse.io by m1her */
.radio-input {
  display: flex;
  align-items: center;
  gap: 2px;
  width: 100%;
  background-color: #000000;
  border: 2px solid #000000;
  z-index: 1;
}

.radio-input input {
  display: none;
}

.radio-input .label {
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, #333333, rgb(36, 35, 35));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  transition: all 0.1s linear;
  background-color: #333333;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 10px 5px 1px rgba(0, 0, 0, 0.2);
}

.label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 103%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent 10%,
    transparent,
    transparent 90%
  );
  transition: all 0.1s linear;
  z-index: -1;
}

.label .text {
  color: rgb(115, 115, 115);
  line-height: 12px;
  padding: 0px;
  font-weight: 800;
  text-transform: uppercase;
  transition: all 0.1s linear;
  text-shadow: -1px -1px 1px rgb(224, 224, 224, 0.1),
    0px 2px 3px rgb(0, 0, 0, 0.3);
}

.radioPS:has(input[type="radio"]:checked) {
  box-shadow: 0px 10px 5px 1px rgba(0, 0, 0, 0);
  background: linear-gradient(to bottom, #1d1d1d, #1d1d1d);
}

.radioPS:has(input[type="radio"]:checked)::before {
  background: linear-gradient(
    to bottom,
    transparent 10%,
    #cae2fd63,
    transparent 90%
  );
}

.radioPS input[type="radio"]:checked + .text {
  color: rgb(202, 226, 253);
  text-shadow: 0px 0px 12px #cae2fd;
}

#bpm-label {
  width: auto;
  padding: 20px;
}

#bpm-text {
  color: #fcfcfc;
  border: 2px solid #000000;
  padding: 10px;
  background: radial-gradient(circle at center, #939393 65%, #333333 100%);
}

.control-button:active {
  box-shadow: 0px 17px 5px 1px rgba(0, 0, 0, 0);
  background: linear-gradient(to bottom, #1d1d1d, #1d1d1d);
}

.control-button:active::before {
  background: linear-gradient(
    to bottom,
    transparent 10%,
    #cae2fd63,
    transparent 90%
  );
}

.control-button:active > .text {
  color: rgb(202, 226, 253);
  text-shadow: 0px 0px 12px #cae2fd;
}

#speaker {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: radial-gradient(
    circle at center,
    #494949 0%,

    #727272 40%,
    #494949 41%,
    #727272 43%,

    #727272 45%,
    #494949 46%,
    #727272 48%,

    #727272 50%,
    #494949 51%,
    #727272 53%,

    #727272 55%,
    #494949 56%,
    #727272 58%,

    #727272 60%,
    #494949 61%,
    #727272 63%,

    #494949 100%
  );

  box-shadow: inset hsla(0, 0%, 15%, 1) 0 0px 0px 2px,
    /* border */ inset hsla(0, 0%, 15%, 0.8) 0 -1px 5px 2px,
    /* soft SD */ inset hsla(0, 0%, 0%, 0.25) 0 -1px 0px 3px,
    /* bottom SD */ inset hsla(0, 0%, 100%, 0.7) 0 2px 1px 3px,
    /* top HL */ hsla(0, 0%, 0%, 0.15) 0 -1px 3px 2px,
    /* outer SD */ hsla(0, 0%, 0%, 0.5) 0 1px 3px 2px; /* outer HL */

  animation: speakeasy 0.4s;
  animation-iteration-count: infinite;
}

#cone {
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #494949 0%,
    #2b2b2b 100%
  );
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8), 0 0 1px 1px rgba(0, 0, 0, 0.7);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes speakeasy {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.075);
  }
  100% {
    transform: scale(1);
  }
}

.sample-picker {
  display: flex;
  align-items: center;
  gap: 2px;
  width: 100%;
  background-color: black;
  padding: 2px 0;
  z-index: 1;
}

.pad-sample {
  width: 100%;
  height: 50px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 8px;
  transition: all 0.1s linear;
  position: relative;
  cursor: pointer;
}

.sound {
  width: 1.3rem;
  height: 1.3rem;
}

.pad-sample[data-muted="true"] {
  opacity: 0.5 !important;
}

.sound.muted {
  display: none;
}

.pad-sample[data-muted="true"] .sound  {
  display: none;
}

.pad-sample[data-muted="true"] .sound.muted {
  display: block;
}







.pad-sample::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 103%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    transparent 10%,
    transparent,
    transparent 90%
  );
  transition: all 0.1s linear;
  z-index: -1;
}

.pad-sample:first-child {
  border-bottom-left-radius: 6px;
}

.pad-sample:last-child {
  border-bottom-right-radius: 6px;
}

.pad-sample:active {
  border-top: none;
}

.pad-sample:active::before {
  background: linear-gradient(
    to bottom,
    transparent 10%,
    #cae2fd63,
    transparent 90%
  );
}

.pad-sample:active > .text {
  color: rgb(202, 226, 253);
  text-shadow: 0px 0px 12px #cae2fd;
}

.pad-sample .text {
  text-transform: uppercase;
}

.drumrack-sequencer {
  box-shadow: 7px 7px 0 0 rgba(0, 0, 0, 1);
  background: linear-gradient(to bottom, #4c4b51, #1F1F21);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.soundbox {
  position: fixed;
  width: 100%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.soundbox::before {
  z-index: -1;
  content: "";
  position: fixed;
  top: -50%;
  left: -50%;
  width: 300%;
  height: 300%;
  overflow: visible;
  background-image: url(https://i.scdn.co/image/ab67616d0000b273af52c228c9619ff6298b08cd);
  background-size: cover;
  background-position: center;
  filter: blur(80px);
  animation: rotating 70s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.community-card {
  overflow: hidden;
}

.community-card .bg-image {
  transition: filter 3s ease;
}

.community-card:hover .bg-image {
  filter: blur(3px);
}

.name-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  outline: none;
  gap: 2px;
  width: 100%;
  background: linear-gradient(to bottom, #333333, rgb(36, 35, 35));
  border: 2px solid #000000;
  border-bottom: none;
  z-index: 1;
}

.name-input input {
  display: none;
}

.name-input .label {
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  transition: all 0.1s linear;
  background: radial-gradient(circle at center, #939393 65%, #333333 100%);
  position: relative;
  cursor: pointer;
  border: 2px solid #000000;
  box-shadow: 0px 10px 5px 1px rgba(0, 0, 0, 0.2);
  color: #fcfcfc;
  text-transform: uppercase;
  line-height: 12px;
  font-weight: 800;
  transition: all 0.1s linear;
}

.name-input > .text {
  text-shadow: -1px -1px 1px rgb(224, 224, 224, 0.1),
    0px 2px 3px rgb(0, 0, 0, 0.3);
}
