@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind utilities;

.title {
  font-family: "Shrikhand", cursive;
  color: #ffa400;
  -webkit-text-stroke: 1.5px #2a2a72;
}

h2 {
  font-family: "Shrikhand", cursive;
  color: #2a2a72;
  -webkit-text-stroke: 0.6px #ffa400;
}

h3 {
  font-family: "Shrikhand", cursive;
  color: #009ffd;
  -webkit-text-stroke: 1px #2a2a72;
}

h4 {
  font-family: "Shrikhand", cursive;
  color: #ffa400;
  -webkit-text-stroke: 1.5px #2a2a72;
}

.stroke {
  -webkit-text-stroke: 1px #232528;
}

.bpm-controls {
  margin-bottom: 20px;
}

.bpm-controls label {
  color: red;
}

.sequencer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 5px;
  width: 100%;
}

.pad {
  background: #ccc;
  font-size: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 0;
  box-sizing: border-box;
}

.pad.active {
  background: #600889;
  border: 1px solid #600889;
  color: #fff;
}

.first-beat-of-the-bar {
  background: #98c9fa;
  border: 1px solid #98c9fa;
}
