@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind utilities;

.title {
  font-family: "Shrikhand", cursive;
  color: #ffa400;
  -webkit-text-stroke: 1.5px #2a2a72;
}

h2 {
  font-family: "Shrikhand", cursive;
  color: #2a2a72;
  -webkit-text-stroke: 0.6px #ffa400;
}

h3 {
  font-family: "Shrikhand", cursive;
  color: #009ffd;
  -webkit-text-stroke: 1px #2a2a72;
}

h4 {
  font-family: "Shrikhand", cursive;
  color: #ffa400;
  -webkit-text-stroke: 1.5px #2a2a72;
}

.stroke {
  -webkit-text-stroke: 1px #232528;
}

.bpm-controls {
  margin-bottom: 20px;
}

.bpm-controls label {
  color: red;
}

.sequencer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 2px;
  width: 100%;
}

.pad {
  position: relative;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 70px;
  height: 70px;
  border-radius: 7px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 40px;
  font-weight: 300;
  box-shadow: inset 0 0 5px 3px rgba(255, 255, 255, 0.2);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  transition: all 0.07s ease;
}

.fa-record-vinyl {
  opacity: 0.5;
}

.pad.playing .fa-record-vinyl {
  opacity: 1;
}

/* From Uiverse.io by m1her */
.radio-input {
  display: flex;
  align-items: center;
  gap: 2px;
  width: fit-content;
  background-color: black;
  padding: 4px;
  border-radius: 10px;
  z-index: 1;
}

.radio-input input {
  display: none;
}

.radio-input .label {
  width: 80px;
  height: 50px;
  background: linear-gradient(to bottom, #333333, rgb(36, 35, 35));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  transition: all 0.1s linear;
  border-top: 1px solid #4e4d4d;
  background-color: #333333;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 17px 5px 1px rgba(0, 0, 0, 0.2);
}

.label:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.label:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 103%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    transparent 10%,
    transparent,
    transparent 90%
  );
  transition: all 0.1s linear;
  z-index: -1;
}

.label .text {
  color: rgb(115, 115, 115);
  line-height: 12px;
  padding: 0px;
  font-weight: 800;
  text-transform: uppercase;
  transition: all 0.1s linear;
  text-shadow: -1px -1px 1px rgb(224, 224, 224, 0.1),
    0px 2px 3px rgb(0, 0, 0, 0.3);
}

.label:has(input[type="radio"]:checked) {
  box-shadow: 0px 17px 5px 1px rgba(0, 0, 0, 0);
  background: linear-gradient(to bottom, #1d1d1d, #1d1d1d);
  border-top: none;
}

.label:has(input[type="radio"]:checked)::before {
  background: linear-gradient(
    to bottom,
    transparent 10%,
    #cae2fd63,
    transparent 90%
  );
}

.label input[type="radio"]:checked + .text {
  color: rgb(202, 226, 253);
  text-shadow: 0px 0px 12px #cae2fd;
}

#bpm-label {
  width: auto;
  padding: 20px;
}

#bpm-text {
  color: #fcfcfc;
  border: 2px solid #000000;
  padding: 10px;
  background: radial-gradient(circle at center, #939393 65%, #333333 100%);
}

.control-button:active {
  box-shadow: 0px 17px 5px 1px rgba(0, 0, 0, 0);
  background: linear-gradient(to bottom, #1d1d1d, #1d1d1d);
  border-top: none;
}

.control-button:active::before {
  background: linear-gradient(
    to bottom,
    transparent 10%,
    #cae2fd63,
    transparent 90%
  );
}

.control-button:active > .text {
  color: rgb(202, 226, 253);
  text-shadow: 0px 0px 12px #cae2fd;
}